 body {
    margin: 0px;
    padding: 0;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: #ccd5dd;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    align-self: flex-start;
}

main {
    display: grid;
    grid-template-columns: 35% 65%;
}

footer {
    color: rgb(245, 247, 248);
    background-color: #03072e;
    width: 100%;
    align-self: flex-end;
}
footer p {
    text-align: center;
}

.encabezado {
    text-align: center;
    position: relative;
    padding: 1%;
    z-index: 1;
    background-image: radial-gradient(ellipse farthest-corner at 45px 30px, #030736 60%, rgba(0, 255, 0, 0) 5%, #ccd5dd 35%);
}

.titulo {
    color: rgb(255, 255, 255);
    font-family: 'Monotype Corsiva';
    font-size: 350%;
}

.image-profile {
    position: absolute;
    left: 3%;
    top: 25%;
    width: 15%;
    height: 110%;
    border-radius: 45%;
    z-index: 2;
}

.name {
    width: 15%;
    height: 18%;
    top: 0;
    left: 82%;
    position: absolute;
    z-index: 2;
}

.separador {
    position: absolute;
    height: 81%;
    width: 2%;
    top: 16%;
    left: 33%;
    z-index: 2;
}

.datos {
    padding: 12% 4% 2% 4%;
}

.presentacion {
    padding: 0 4% 2% 2%;
    margin-top: 0;
}

.contacto, .habilidades, .experiencia, .perfil, .educacion{
    margin: 0;
 }

.subtitulo {
    color: #04070a;
    border-bottom: 3px solid #031f3d;
    padding-left: 3%;
    text-transform: capitalize;
    font-weight: bolder;
    font-style: italic;
    width: 90%;
    height: 32px;
    margin: 0;
}
.sub1 {
    font-family: 'Monotype Corsiva';
    font-size: 30px;
}
.skills {
    font-family: 'Cambria';
    font-size: 120%;
}
.links-center {
    text-align: center;
    align-items: center;
}
span {
    font-family: 'Monotype Corsiva';
    text-transform: capitalize;
    font-size: 25px;
}

p {
    font-family: 'Cambria';
    font-size: 120%;
    text-align: justify;
}

a img {
    width: 90px;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25%;
    margin: 2px;
}




